body {
  margin-top: 20px;
}

.nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
.fa-arrow-left {
  color: #ffff;
}

.imgItem {
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

@media screen and (max-width: 502px) {
  .media {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.media {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeee;
}

img {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.cartControls {
  display: flex;
  align-items: flex-end;
}

h6 {
  margin-right: 20px;
}
